{% extends "base/index3.html" %}
{% block content %}
{% load crispy_forms_tags %}
   
           
    <div class="pt-4 " > 
        <form  method="POST" class="needs-validation form-control bg-black bg-opacity-50 text-white" novalidate="" enctype="multipart/form-data" >
         
            {% csrf_token %}
               
            
           <h4 class="mb-3 mt-2 text-center"><b>Modificar tus datos personales</b></h4>
            <br>
                
      
              {% comment %} {{form.as_table}} {% endcomment %}
        
            <div class="row">
                 <strong>{{form | crispy}}</strong>
            </div>        
            
            

        <div class="d-flex justify-content-end">                  
            <a type="reset" class="btn btn-secondary" href={% url 'datos_usuarios' %}>Cancelar</a>
            &nbsp;                 
            <input type="submit" class="btn btn-primary" value="Guardar">                    
        </div>
    
    </form>
     <br><br><br>
</div>


           
{% endblock  %}
      

          

            
            
    
