{% extends "base/index5.html" %}
{% load static %}





 {% block aside %}
  <aside id="sidebar" class="sidebar">
   
    <ul class="sidebar-nav" id="sidebar-nav">
      {%  if user.is_authenticated %}
       
        {% if request.user.groups.all.0.name == 'Admin' %}
          <li class="nav-item">
              <a class="nav-link collapsed"   href={% url 'resumen' %}>Estadisticas</a></li>
          <li class="nav-item">
              <a class="nav-link collapsed"   href={% url 'create_email' %}> Emails</a></li>
          <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_personas' %}>Personas</a></li>
          <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_asociados' %}>Asociados</a></li>
          <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_entrenadores' %}>Entrenadores</a></li>  
          <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_pagos_socios' %}>Pagos Socios</a></li>
         
          <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_eventos' %}>Eventos</a></li>
          
          {% comment %} <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_inscriptos' %}>Inscriptos Eventos</a></li> {% endcomment %}

          <li class="nav-heading">PARA TERCEROS:</li>    
        
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-exclamation-triangle-fill"></i><span>Seguros</span>
            <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href={% url 'seguro_asociados' %}>
                <i class="bi bi-circle"></i><span>Seguro Asociados</span>
                </a>
              </li>
              <li>
                <a href={% url 'seguro_entrenadores' %}>
                  <i class="bi bi-circle"></i><span>Seguro Entrenadores</span>
                </a>
              </li>
              
              <li>
                <a href={% url 'seguro_inscriptos' %}>
                  <i class="bi bi-circle"></i><span>Seguro Inscriptos Eventos</span>
                </a>
              </li>
            </ul>
            <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'lista_kempes' %}">
              <i class="bi bi-eye"></i>
              <span>Kempes</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'lista_agencia' %}">
              <i class="bi bi-eye"></i>
              <span>Agencia</span>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="{% url 'lista_inscriptos_publico' %}">
              <i class="bi bi-globe"></i>
              <span>Inscriptos Andres</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="{% url 'lista_asociados_publico' %}">
              <i class="bi bi-globe"></i>
              <span>Personas Asociadas Activas</span>
              </a>
            </li>
          <br>
        {% endif %}

        {% if  request.user.username == 'cmonasterolo' or request.user.username == 'mpolo' or request.user.groups.all.0.name == 'Admin' %}
          <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_escuela' %}>Escuela</a></li>
          <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_pagos_escuelaAdmin' %}>Escuela Pagos</a></li> 
          <li class="nav-item">
             <a  class="nav-link collapsed" href={% url 'estad_escuela' %}>Escuela Estadisticas</a></li>
         <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_pagos_escuelaAdmin_mensual' %}>Pagos por Mes</a></li>
              <a  class="nav-link collapsed" href={% url 'asistencia' %}>Asistencia</a></li>    

        {% endif %}
        
        
        {% if request.user.groups.all.0.name == 'Inscripciones' %}
          <li class="nav-item">
              <a  class="nav-link collapsed" href={% url 'lista_eventos' %}>Eventos</a></li>
        {% endif %}
          
        <br>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'index' %}">
            <i class="bi bi-arrow-left-square"></i>
            <span>Volver</span>
          </a>
        </li>

      {% endif %}  
    </ul>

  </aside>
    
  

{% endblock %}

    <body>
        <!-- Page content-->
        {% comment %} {% block content%}
        {% endblock %}    
     
        <script src="{% static 'registro/js/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'registro/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'registro/js/bootstrap.js' %}"></script>
         

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> {% endcomment %}

        
        {% comment %} <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script> {% endcomment %}
        {% comment %} <script src="{% static 'registro/js/DataTables/datatables.min.js' %}"></script>
        

        <script>
            $(document).ready( function () {
                $('#mis_tablas').DataTable( {
                    "languaje": {
                        "url": "dataTables.spanish.lang"
                    }
                });
            } );
        </script>

         {% endcomment %}

        

    </body>

</html>
