<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>alerta Inscripto</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'general/assets/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    </head>
    <body>
        <h1>Un nuevo inscripto requiere validación: <strong style="color:green">{{persona}}</strong> - <strong style="color:#F36808">{{eventoRelacionado}}</strong></h1>

        <strong style="font-size:20px;">Datos:</strong>
        <ul style="font-size:15px;">
            <li>Evento: <b>{{eventoRelacionado}}</b></li>
            <li>Distancia: <b>{{distancia}}</b></li>
            <li>Categoria: <b>{{categoria}}</b></li>
            <li>Bici: <b>{{bici}}</b></li>
            <li>Costo evento: <b>{{montoDebeAbonar}}</b></li>
            <li>Monto Abonado: <b>{{montoAbonado}}</b></li>
            <li>Fecha de Pago: <b>{{fechaPago}}</b></li>
            <li>Comentario: <b>{{comentario|default:"No declara"}}</b></li>
            <li>Obra Social: <b>{{obra_social}}</b></li>
            <li>Responsable Tutor: <b>{{responsable_tutor|default:"No declara"}}</b></li>
            <li>Relación Legal: <b>{{relacion_legal|default:"No declara"}}</b></li>
            <li>DNI responsable: <b>{{dni_responsable|default:"No declara"}}</b></li>
            <li>eMail Responsable: <b>{{mail_responsable|default:"No declara"}}</b></li>
            <li>Telefono Responsable <b>{{telefono_responsable|default:"No declara"}}</b></li>

        </ul>

        <h3>Por favor ir a : </h3> <a class="btn btn-primary" href="https://triatloncordoba-mgattesco.pythonanywhere.com/admin"> <b style="color:green">Admin</b> </a></h3>


        <script src="" async defer></script>
        
    </body>
</html>