{% load static %}
{% extends 'base/index3.html' %}



{% block content %}


            <div class="container align-items-center justify-content-center">
                <div class="justify-content-center">
                    <div class="col-lg-6">
                    
                    <!-- Email input -->
                     

                     
                    <div class="">
                        <h1> Gracias <strong style="color:green">{{persona}}</strong> por ser parte del triatlón de Córdoba y Argentina</h1>
                        <h3>Recuerda que tu trámite asociativo estará activo una vez que se procesen el pago de tu cuota anual asociativa.</h3>

                        <p>  La vigencia como persona asociada es de un año calendario a partir de la fecha de pago (contado o primer cuota, según opción elegida)</p>
                        <p>  Tus Datos Informados:</p>
                            <ul>
                                <li>Fecha: <b>{{fecha}}</b></li>
                                <li>Tipo de Asociado: <b>{{tipoAsociado}}</b></li>
                                <li>Fecha Emisión Emmac: <b>{{fecha_emision_emmac}}</b></li>
                                <li>Entrenador: <b>{{entrenador}}</b></li>
                                <li>Responsable Tutor: <b>{{responsable_tutor}}</b></li>

                            </ul>

                        <p>  Estamos intentando darte un mejor servicio administrativo para que podamos interactuar a través de tu propia cuenta. Por cualquier dificultad que surja no dudes en escribirnos a tesoreriatriatloncba@gmail.com y lo resolveremos rápidamente.</p>

                        <p>Una vez que ingreses a tu cuenta te diriges a las distintas pestañas disponibles y sigues las indicaciones:</p>
                        <ul>
                            <li><b>“Mis Datos”</b> para que puedas actualizar y subir tu foto de perfil y Foto dni</li>
                            <li><b>“Mi Carnet”</b> para que puedas ver tu situación actual, vencimientos, actualizar, emmac, etc</li>
                            <li><b>“Pagos Asociado”</b> para que puedas subir cada pago que hayas realizado y puedas ver el historial de tus pagos</li>
                            <li><b>“Próximos eventos”</b> también te puedes inscribir por aquí</li>
                            <li><b>“Mis Eventos”</b> para ver el historial de los eventos en los que te has inscripto.</li>
                        </ul>
                    </div>
                    <div class="container justify-content-center">
                    <a class="btn btn-primary" href="https://triatloncordoba-mgattesco.pythonanywhere.com/accounts/login/"><b>Ingresar</b></a>
                    </div>
                            
                        </div>
                    </div>
                </div>
               
            </div>
      

{% endblock %}




