{% extends "base/index3.html" %}

    {%block Title%} Registro {% endblock %}
        

    {% block content %}
        
    <h1>TRIATLON CORDOBA ARGENTINA </h1>

    <div class="container">
    <form method?"POST">   
             
        <div class="mb-3">
        <label for="formFileSm" class="form-label"></label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>
           
    </form>    
    </div>            
               
                    
                
               

           
        
       
            
    {% endblock %}
      

          

            
            
    
