{% extends "base/index2.html" %}
{% block content %}
{%  if user.is_authenticated %} 
{% if request.user.is_staff %}
    <h4><strong>ASOCIADOS POR ENTRENADOR:  </strong></h4>
    
    <div style="overflow-x:auto;">
    <table class = "table table-borderless datatable">
        <thead>
            <tr class="table-info">
               
                <th>Entrenador</th>
                <th>Atleta</th>
                <th>Edad Atleta</th>
                <th>email Atleta</th>
                <th>Sit Atleta</th>
                <th>Vto. Emmac</th>
                <th>Tipo Asociado</th>
                <th>Resp Tutor</th>
                <th>Emmac</th>
               
            </tr>
        </thead>

        <tbody>
            
            {% if object_list %}
                {% for s in object_list %}
                {% if s.estado %}
                <tr >
                   
                    {% comment %} <td>{{s.persona.cuil}}</td> {% endcomment %}
                    
                    <td>{{s.entrenador|title}}</td>
                    <td> {{s.persona.last_name|title}}, {{s.persona.first_name|title}}</td>
                    <td>{{s.persona.get_edad}}</td>
                    <td>{{s.persona.email}}</td>
                    
                    {% if s.get_estado%}
                    <td>3.Activo</td>
                    {% elif s.dias_vencer and s.get_sit_emmac == False %}
                        <th style="color:#E57A15">2.Emmac vencido</td>
                    {% elif s.dias_vencer == False and s.get_sit_emmac == False  %}
                        <th style="color:red">1.Arreglar</td>
                    {% endif %}
                    
                    <td>{{s.get_vencimiento_emmac}}</td>
                    <td>{{s.tipoAsociado}}</td>

                    
                    {% if s.persona.get_edad >= 18 %}
                        <td style="color:#5B2C6F" >Es Mayor</td>
                    {% elif s.responsable_tutor == '' and s.persona.get_edad < 18 %}
                        <td style="color:red"><p><b>Pedir Urgente</p></p></td>
                    {% else %}
                        <td>{{s.responsable_tutor}}</td>
                    {% endif %}    
                    
                    {% if s.emmac_file == emmac_file %}
                    <td><a href={{s.emmac_file.url}}><img src={{s.emmac_file.url}} width="15" height="15"></a></td> 
                    {% else %}
                    <td>{{s.emmac_file}}</td>
                    {% endif %}
                </tr>
                  {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td><h2>No hay personas asociadas</h2></td>
                </tr>
                
            {% endif %}
        </tbody>
    </table>
</div>

{% endif %}
{% endif %}

   
   
            
{% endblock  %}
      


