{% extends "base/index2.html" %}


{% block content %}
{% load static %}
{%  if user.is_authenticated %} 
{% if request.user.is_staff or request.user.groups.all.0.name == 'Inscripciones' %}
{% for key, values in distancias.items %}
    {{key}}: {{values}}
{% endfor %}
<hr>
{% for key, values in distancias.items %}
    {% for val in values %}
        {% for k,val in val.items %}
        {{k}}:{{val}}
        {% endfor %}
    {% endfor %}
{% endfor %}
                    //{{distancia}}
    {% for evento in eventos %}
    <h3><b>{{cant_inscriptos_total}}</b> Inscriptos para el evento:<br> <h3 style="color:blue">{{evento}}</h3> </h3>
    {% endfor%}

    <div style="overflow-x:auto;">
            <table class = 'table'>
                <thead>
                    <tr class="table-danger ">
                        <th colapsan="1" class="text-center">Resumen</th>
                        <th colapsan="1" class="text-center">Total Gral</th>
                        <th colapsan="2" class="text-center">Total</th>
                        <th colapsan="2"  class="text-center">Mujeres</th>
                        <th colapsan="2"  class="text-center">Varones</th>
                        <th colapsan="2"  class="text-center">Total</th>
                        
                    </tr>

                </thead>
                <tbody class"secondheader">
                    
                     <th class="text-center">Resumen</th>
                     <th class="text-center"></th>
                    
                    <th>   
                    {% for key, values in distancias.items %}
                    {{key}}-
                    {% endfor %}
                    </th>
                    
                     <th>   
                    {% for key, values in distancias.items %}
                    {{key}}-
                    {% endfor %}
                    </th>

                   <th>   
                    {% for key, values in distancias.items %}
                    {{key}}
                    {% endfor %}
                    </th>


                </tbody>
                 
                <tbody style="vertical-align: 50%;">
                        <tr >
                            <td>
                                {% for key, value in titulos.items %}
                                <b style="color:black; ">{{key}}</b><hr>
                                {% endfor %}
                               
                                {% for key, values in distancias.items %}
                                    {% for val in values %}
                                        {% for k,val in val.items %}
                                        {{k}}<br>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}

                                
                                
                      
                                {% for key, val in categorias.items %}
                                <b style="color:green">{{key}}</b><hr>
                                {% endfor %}

                                {% for key, val in distancias.items %}
                                <b style="color:#E119A1">{{key}}</b><hr>
                                {% endfor %}
                            </td>
                            
                            <td class="text-center">
                                {% for key, value in titulos.items %}
                                <b style="color:black">{{value.0}}</b><hr>
                                {% endfor %}
                              
                                {% for key, val in modalidades.items %}
                                {% for n in val.items %}
                                <b style="color:blue">{{n.1.1}}</b><hr>
                                {% endfor %}
                                {% endfor %}
                           
                                {% for key, val in categorias.items %}
                                <b style="color:green">{{val.0}}</b><hr>
                                {% endfor %}

                                {% for key, val in distancias.items %}
                                <b style="color:#E119A1">{{val.0}}</b><hr>
                                {% endfor %}
                            </td>

                            <td class="text-center">
                                {% for key, value in titulos.items %}
                                <b style="color:black">{{value.1}}</b><hr>
                                {% endfor %}
                            
                                {% for key, val in modalidades.items %}
                                <b style="color:blue">{{val.1}}</b><hr>
                                {% endfor %}
                            
                                {% for key, val in categorias.items %}
                                <b style="color:green">{{val.1}}</b><hr>
                                {% endfor %}

                                {% for key, val in distancias.items %}
                                <b style="color:#E119A1">{{val.1}}</b><hr>
                                {% endfor %}
                            </td>

                            <td class="text-center">
                                {% for key, value in titulos.items %}
                                <b style="color:black">{{value.2}}</b><hr>
                                {% endfor %}
                            
                                {% for key, val in modalidades.items %}
                                <b style="color:blue">{{val.2}}</b><hr>
                                {% endfor %}
                              
                                {% for key, val in categorias.items %}
                                <b style="color:green">{{val.2}}</b><hr>
                                {% endfor %}

                                {% for key, val in distancias.items %}
                                <b style="color:#E119A1">{{val.2}}</b><hr>
                                {% endfor %}
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>

    {% for evento in eventos %}
    

        <form method='POST'>
            {% csrf_token %}
            
            <div style="overflow-x:auto;">
            <table class = 'table  datatable'>
                <thead>
                    <tr class="table-info">
                        
                        
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Situac</th> 
                        
                        {% comment %} <th>Asociado</th> {% endcomment %}
                        {% comment %} <th>Evento</th> {% endcomment %}
                        <th>Modalidad</th>
                        <th>Distancia</th>
                        <th>Categoria</th>
                        
                        <th>Edad</th>
                        <th>Edad 31/12</th>
                        <th>Equipo</th>               
                        <th>Forma de pago</th>
                        <th>Cod Grupo</th>
                        <th>Fecha de pago</th>
                        <th>Monto abonado</th>
                        <th>Monto correcto</th>
                        <th>Dif</th>
                        <th>Pago</th>
                        <th>Certif</th>
                        
                    
                    </tr>
                </thead>

                <tbody style="vertical-align: 50%;">
      
                    {% for inscripto in inscripcion_list %}
                
                        {% if inscripto.eventoRelacionado.id == evento.id %}
                        <tr >
                           
                             
                            <td style="vertical-align: middle;">{{inscripto.persona.last_name|title}} {{inscripto.persona.first_name|title}} </td>
                            <td>{{inscripto.persona.email}}</td>
                            
                            {% if inscripto.confirm_pago == False %}
                            <th style="color:red">Pend</td>
                            {% else %}
                            <td><img src={% static 'registro/tilde2.png' %}  width="30" height="30"></td>
                            {% endif %}    
                            
                            
                            {% comment %} <td>{{inscripto.siAsociado|yesno:"SI,NO"}}</td> {% endcomment %}
                            {% comment %} <td>{{c.eventoRelacionado.nombreEvento}} / {{c.eventoRelacionado.fechaEvento}}</td> {% endcomment %}
                            
                            
                            <td>{{inscripto.modalidad}}</td>
                            <td>{{inscripto.distancia}}</td>
                            <td>{{inscripto.categoria}}</td>
                            
                           
                            <td>{{inscripto.get_edad}}</td>
                            <td>{{inscripto.edad_31_Dic}}</td>
                            
                            {% if inscripto.nombreEquipoPosta == None %}
                            <td>----</td>
                            {% else %}
                            <td>{{inscripto.nombreEquipoPosta}}</td>
                            {%  endif %}
                            
                            {% for f in formas %}
                            {% if f.id == inscripto.formaPago %}
                            <td>{{f.formaPago}}</td>
                            {% endif %}
                            {% endfor %}


                            {% if inscripto.grupo == None %}
                            <td>----</td>
                            {% else %}
                            <td>{{inscripto.grupo}}</td>
                            {% endif %}
                            
                            
                            <td>{{inscripto.fechaPago|date:"d/m/Y"}}</td>
                            <td>${{inscripto.montoAbonado|floatformat:"-3g"}}</td>
                            <td>${{inscripto.montoDebeAbonar|floatformat:"-3g"}}</td>
                            
                            {% if inscripto.get_dif_inscripcion < 0 %}
                            <td style="color:red">${{inscripto.get_dif_inscripcion|floatformat:"-3g"}}</td>
                            {%  else %}
                            <td><img src={% static 'registro/tilde2.png' %}  width="20" height="20"></td>
                            {% endif %}
                        
                            
                            <td><a href={{inscripto.comprobPago.url}}>
                                <img src={{inscripto.comprobPago.url}} width="25" height="20">
                            </a>
                            </td>
                            <td><a href={{inscripto.emmac_file.url}}>
                                <img src={{inscripto.emmac_file.url}} width="25" height="20">
                            </a>
                            </td>

                        </tr>
                        {% endif %}
                    {% endfor %}
                    
                    {% comment %} {% else%}
                    
                            <td><h3>No hay pagos registrados</h3></td>
                        
                        
                    {% endif %} {% endcomment %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
    <a class="btn btn-secondary" href={% url 'lista_eventos' %}>Volver</a>
    </div>
        </form>
    {% endfor %}    
 
    
{% endif %}
{% endif %}   
            
{% endblock  %}
      
