{% extends "base/index2.html" %}


{% block content %}
{% load static %}
{%  if user.is_authenticated %} 
{% if request.user.is_staff or request.user.groups.all.0.name == 'Inscripciones'%}

{% csrf_token %}
<form method='POST'>
    <h3>Listado de Eventos </h3>
    <div style="overflow-x:auto;">
    <table class = "table datatable" >
        <thead>
            <tr class="table-info">
            
                <th>Fecha Evento</th> 
                <th>Temporada</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Cupo</th>
                <th>Total Inscriptos</th>
                <th>confirmados</th>
                <th>Pendientes</th>
                <th>Ver Inscriptos</th>
                <th>Estado</th>
                {% comment %} <th>Modalidad</th>
                <th>Distancias</th>
                <th>Categorias</th> {% endcomment %}
               
            </tr>
        </thead>

        <tbody>
            {% if eventos_list %}
                {% for c, value in inscriptos.items %}
                <tr>
                   
                    <td>{{c.fechaEvento|date:"d/m/Y"}}</td>
                    <td>{{c.temporada}}</td>
                    <td>{{c.tipo}}</td>

                    <td>{{c.nombreEvento}}</td>
                    <td>{{c.lugar}}</td>
                    <td>{{c.cupo}}</td>
                    
                 
                    
                    <td class="text-center fw-bold">{{value.0}}</td>
                    <td class="text-center">{{value.1}}</td>
                  
                   
                   
                    
                  
                    <td class="text-center" style="color:red">{{value.2}}</td>
                   


                    <td>
                        <a href={% url 'lista_inscriptos_admin' c.id %} class="badge bg-info"><b>Ver</b></a>

                    </td>
                    
                    
                    
                    {% if c.estado is not True %}
                        <td  style="color:red">{{c.estado|yesno:'Activo,Inactivo'}}</h1>
                    {%  else %}
                        <td>{{c.estado|yesno:"Activo,Inactivo"}}</td>
                    {% endif %}
                    
                    {% comment %} <td>
                    {% if c.modalidad_disponible.all %}
                    {% for m in c.modalidad_disponible.all %}
                    {{m}}
                    {% endfor %}
                    {% else %}
                    <td>----</td>
                    {% endif %}
                    </td>

                    <td>
                    {% if c.distancia_disponible.all %}
                    {% for d in c.distancia_disponible.all %}
                    {{d}}-
                    {% endfor %}
                    {% else %}
                    <td>----</td>
                    {% endif %}
                    </td> 

                    <td>
                    {% if c.categoria_disponible.all %}
                    {% for c in c.categoria_disponible.all|slice:'2' %}
                    {{c}}-
                    {% endfor %}
                    Entre otras
                    {% else %}
                    <td>----</td>
                    {% endif %}
                    </td> {% endcomment %}


                    
                 
                    
                    
                  
                    
                   
                </tr>
                {% endfor %}
            {% else%}
              
                    <td><h3>No hay eventos para mostrar</h3></td>
                
                
            {% endif %}
        </tbody>
    </table>
</div>
</form>
    
{% endif %}
{% endif %}   
            
{% endblock  %}
      
